<div class="container mt-5 pt-5 px-5 pb-3 border shadow rounded">
  <div class="mb-4 d-flex justify-content-between">
    <div>
      <fa-icon icon="stream" size="2x"></fa-icon>
      <span class="font-weight-bolder ml-3 h2">Log de eventos</span>
      <div class="spinner-border text-info ml-3" role="status" *ngIf="procesando">
        <span class="sr-only">Procesando...</span>
      </div>
    </div>
  </div>
  <div *ngFor="let log of listaLogs; index as i">
    <div class="card w-100 mb-3 card_{{i}}">
      <div class="card-body">
        <div class="d-flex mt-2">
          <div class="mr-3 d-flex align-items-center">
            <img src="../../assets/images/avatar.svg" alt="avatar">
          </div>
          <div class="row w-100">
            <div class="col">
              <div>
                <em class="card-title mb-0 mr-1">Fecha:</em>
                <em class="card-title mb-0">{{ log.fecha }}</em>
              </div>
              <div>
                <em class="card-text mb-0 mr-1 ">Responsable:</em>
                <em class="card-text mb-0">{{ log.responsable | titlecase }}</em>
              </div>
            </div>
            <div class="col">
              <div >
                <em class="card-title mb-0 mr-1 ">Método:</em>
                <em class="card-title mb-0 metodo_{{log.metodo | uppercase}}">{{ log.metodo | uppercase }}</em>
              </div>
              <div>
                <em class="card-text mb-0 mr-1">Código:</em>
                <em class="card-text mb-0">{{ log.codigo | lowercase }}</em>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <ngb-alert *ngIf="mensajeExito" type="success" (close)="mensajeExito = ''">{{ mensajeExito }}</ngb-alert>
  <ngb-alert *ngIf="mensajeError" type="warning" (close)="mensajeError = ''">{{ mensajeError }}</ngb-alert>
</div>
