em{
    font-size: 12px;
}
.metodo_GET , .metodo_POST , .metodo_PUT , .metodo_DELETE{
    background: no-repeat padding-box #9215B3;
    border-radius: 32px;
    color: #fff;
    padding: 3px 10px;
}
.metodo_DELETE{
    background: no-repeat padding-box #F2B011;
}
.metodo_POST{
    background: no-repeat padding-box #0096CC;
}
.metodo_PUT{
    background: no-repeat padding-box #05F29B;
}
.card_0{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}